<md-toolbar color="primary" fxFlexLayout="row">
  <div fxFlex="10">
    <span><img src="/assets/images/personality-logo2.png" height=70 width=70></span>
  </div>
  <div fxFlex="10" style="margin-bottom:5px">
    <a md-button routerLink="/home" routerLinkActive="active"
      mdTooltip="CLICK HERE TO START ALL OVER!!!">
      <span class="fa fa-home fa-lg"></span> RESET</a>
  </div>
  <div fxFlex="60" style="text-align:center">
    <h1>whoDis U want 2 B?</h1>
  </div>
  <div fxFlex="20" style="text-align:right" hidden>
    <a md-button><span class="fa fa-sign-in fa-lg"></span> Login</a>
  </div>
</md-toolbar>
